<a href="https://colab.research.google.com/github/aysualkaya/data/blob/main/SalesFact_frequency_distribution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
data = pd.read_csv('sample_data/salesFact.csv')

#frequency distributions
data['yearly_income'].value_counts()

$30K - $50K      3327
$10K - $30K      2222
$50K - $70K      1845
$70K - $90K      1207
$130K - $150K     506
$110K - $130K     493
$90K - $110K      458
$150K +           223
Name: yearly_income, dtype: int64

In [15]:
data['gender'].value_counts()

M    5184
F    5097
Name: gender, dtype: int64

In [16]:
data['marital_status'].value_counts()

M    5142
S    5139
Name: marital_status, dtype: int64

In [17]:
data['total_children'].value_counts()

2    2068
4    2063
3    2059
1    2025
0    1038
5    1028
Name: total_children, dtype: int64

In [18]:
data['education'].value_counts()

Partial High School    3094
High School Degree     3039
Bachelors Degree       2619
Partial College         990
Graduate Degree         539
Name: education, dtype: int64

In [24]:
data['member_card'].value_counts()

Bronze    5703
Normal    2420
Golden    1198
Silver     960
Name: member_card, dtype: int64